{% extends 'base.html' %}

{% block content %}

<h3>{{ subject.name }}</h3>

<p class="text-muted">{{ subject.description }}</p>

<hr>

{% for task in tasks %}

<div class="card p-3 mb-3">

<h5>{{ task.title }}</h5>

<p>{{ task.description }}</p>

<small class="text-muted">
Дата {{ task.deadline }}
</small>

</div>

{% empty %}

<p>Завдань немає</p>

{% endfor %}

{% if user.is_teacher %}
<a href="{% url 'add_assignment' subject.id %}" class="btn btn-primary mb-3">
    Додати завдання
</a>
{% endif %}

{% endblock %}